@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  font-family: 'Poppins', sans-serif;
}

 

body{
  overflow-x: hidden;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

.img-logo{
  width: 50px;
  height: 50px;
}

.background-dark{
  background-color: #000;
}

.fa{
  color: #fff;
}

.icon-index{
  width: 70px;
  height: 70px;
}

#text-area{
  height: 100px;
  resize: none;
}


.menu-toggle{
  height: 40px;
  width: 40px;  
  cursor: pointer; 
} 

.menu-1{
  display: block;
  height: 3px;
  width: 100%;
  background-color: #fff;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.menu-2{
  margin-top: 7px;
  display: block;
  height: 3px; 
  width: 70%;
  background-color: #fff;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.menu-3{
  margin-top: 7px;
  display: block;
  height: 3px;
  width: 80%;
  background-color: #fff;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}



.menu-1.click{
  width: 100%; 
  -webkit-transform: translateY(10px) rotate(40deg);
  -ms-transform: translateY(10px) rotate(40deg);
  -o-transform: translateY(10px) rotate(40deg);
  transform: translateY(10px) rotate(40deg);
}


.menu-2.click{
  width: 0px;
}


.menu-3.click{
  width: 100%; 
  -webkit-transform: translateY(-10px) rotate(-40deg);
  -ms-transform: translateY(-10px) rotate(-40deg);
  -o-transform: translateY(-10px) rotate(-40deg);
  transform: translateY(-10px) rotate(-40deg);
}

svg{
  margin-top: -5px;
}

a{
  text-decoration: none;
}

a:hover{
  text-decoration: none;
}
 
.btn-gold{ 
  font-weight: bold; 
  color: #c39a3b;
  height: 40px; 
  width: 80%; 
  border: 1px solid 	#c39a3b; 
  transition: all 0.3s; 
  border-radius: 0px;
  margin-top: 10px;
}

.btn-gold:hover{
  color: #fff;
  background-color: #c39a3b;
}

.border-bg-black{
  height: 10px;
  width: 100%;
  background-color:#000;
  margin-top: 50px;
}

 






.text-animate{
  width: 100%;
  margin-top: 120px;
  height: 90px;
}

.text-animate svg {
  width: 100%; 
  height: 100%;
  margin: 1px auto;
}
.text-animate svg text {
  text-transform: uppercase;
  animation: stroke 3s alternate;
  stroke: #fff;
  fill: #fff;
  font-size: 160px;
  stroke-width: 2;
  font-weight: 800;
}



.text-animate-mobile{
  display: none;
  width: 100%;
  height: 120px;
  margin-top: 80px;
}

.text-animate-mobile svg {
  margin: 10px auto;
  width: 100%; 
  height: 100%;
}
.text-animate-mobile svg text {
  text-transform: uppercase;
  animation: stroke 3s alternate;
  stroke: #fff;
  fill: #fff;
  font-size: 160px;
  stroke-width: 2;
  font-weight: 800;
}

.card{
  border-radius: 10px;
  padding: 10px;
}

.img-card{
  width: 60px;
  height: 60px;
  margin: 20px auto;
}

.card-body{
  padding: 0px;
  padding-bottom: 20px;
}

.card-title{
  font-size: 20px;
}

.card-text{
  font-size: 14px;
}
 

#snackbar {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */  
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 5px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  bottom: 30px; /* 30px from the bottom */
  animation: fadeout 0.5s;
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
  visibility: visible; 
  animation: fadein 0.5s;
}
/* #snackbar.hide {
  visibility: visible; 
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
} */
 

@keyframes fadein {
  from {bottom: 0px; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}
 
@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0px; opacity: 0;}
}

 























.wrapper-head{
  width: 100%; 
  margin: 0px auto;
}



.nav-link{
  color: #fff;
  font-weight: bold; 
  margin-left: 10px;
  cursor: pointer;
}

.nav-link:hover{
  color: #c39a3b; 
}

.nav-link.active{
  color: #fff;
  text-decoration: underline;
}








 
/* ------------------------
          jumbotron
------------------------ */

.jumbotron-index{   
  height: 500px;  
  margin: 0px auto;
  background-color: #000; 
}

.text-title-jumbotron{
  margin-top: 120px;
  font-size: 60px;
  font-weight: 800; 
  background: linear-gradient(to right, #FFF 20%, #A9A9A9 40%, #A9A9A9 60%, #FFF 80%);
  background-size: 200% auto;
  
  color: #000;
  background-clip: text; 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  animation: shine 6s linear infinite;
   
} 
 
.btn-contact{ 
  height: 50px;
  width: 170px;
  border: 3px solid #c39a3b;
  color: #fff;
  transition: width 0.5s;
  font-weight: bold;
  border-radius: 0px;
}

.btn-contact:hover{
  width: 220px; 
  color: #fff;
  background-color: #c39a3b; 
}

.text-desc-jumbotron{ 
  width: 75%;
}













/* ------------------------
      Wrapper Help
------------------------ */

.wrapper-help{
  margin: 0px auto;
  width: 60%;
  text-align: center;
  margin-bottom: 120px;
}
.text-title-explain{ 
   text-align: center; 
   border-bottom: 1px solid #000; 
   line-height: 0.1em;
   margin: 0px auto;  
}
.text-title-explain span{
  background:#fff; 
  padding:0 10px; 
}







.wrapper-choose{
  margin: 100px auto;
  margin-bottom: 0px;
  width: 60%;
  text-align: center;
}


.wrapper-detail-choose{
  width: 100%;
}


.list-choose{ 
  color: #fff;
  transition: 0.3s; 
  width: 95%;
  height: 270px;
  padding: 20px;
  display: flex; 
  flex-direction:column;
  justify-content: space-between;
  align-items: flex-start;
  border-radius: 10px;
}

.list-choose:hover{ 
  transform: rotate(-3deg); 
}

.col-reason{
  display: flex;
  justify-content:center;
  align-items: center;
  margin-bottom: 20px;
}

.img-card-reason{
  width: 70px;
  height: 70px;
}


.content-reason > .card-title{
  font-size: 25px;
}
 








 
/* ------------------------
          How
------------------------ */

.wrapper-how{
  width: 100%;
}

.content-how-description{
  padding: 10px;
  width: 100%;
  height: 100%; 
  display:flex; 
  justify-content: flex-start;
  align-items: center;  
}

.left-line-how{
  width: 50px;
  height: 280px;
  background-color: #000;
}
 

.content-how-description p{
  margin-top: 10px;
  font-size: 15px;
}

.content-image-how{
  display:flex;
  flex-direction: column;
  justify-content: center;
}

.btn-gold-how{
  width: 150px;
  height: 40px;
  color: #c39a3b;
  border: 2px solid #c39a3b;
  border-radius: 0px;
  transition: all 0.3s;
}

.btn-gold-how:hover{
  color: #fff;
  background-color: #c39a3b;
}




















.list-choose-service{ 
  color: #fff;
  transition: 0.3s; 
  width: 100%;
  height: 530px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  border-radius: 10px;
  margin-bottom: 30px;
}

.list-choose-service:hover{
  transform: rotate(-3deg);
}

.img-card-service{
  width: 90px;
  height: 90px; 
}

.content-services h5{
  font-size: 25px; 
}

.btn-service-detail{
  padding: 7px;
  background-color: #444;
  color: #fff;
  margin-right: 10px;
  border-radius: 5px;
  font-size: 12.5px;
  margin-bottom: 10px;
  border: 1px solid #444;
  cursor: default; 
}

.contact-btn-service{
  width: 100%;
}

.btn-gold-services{
  font-weight: bold;
  color: #c39a3b;
  height: 40px;
  width: 100%;
  border: 1px solid #c39a3b;
  transition: all 0.3s;
  border-radius: 0px;   
}

.btn-gold-services:hover{
  background-color: #c39a3b;
  color: #fff;
}












 
.list-choose-clients{
  padding: 20px;
  border-radius: 10px;
  color: #fff;
  transition: 0.3s; 
  width: 100%;
  height: 150px;
  display: flex; 
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 30px;
}

.list-choose-clients:hover{
  transform: rotate(-3deg);
}

.img-card-clients{
  width: 90px;
  height: 90px;   
}

.title-clients{
  font-size: 19px;
}

 








/* ------------------------
      Contact
------------------------ */

.content-contact{ 
  width: 90%; 
  height: 530px;
  padding: 15px;
  display: flex;
  justify-content:center;
  align-items: center; 
}

.content-contact img{
  width: 80%; 
}


.content-direct-contact{ 
  border-radius: 10px;
  padding: 15px;
  background-color: #000;
  width: 90%;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.contact-title{
  color: #fff;
  font-size: 25px;
}

.contact-desc{
  color: #fff;
  font-size: 14px;
}


.content-detail-contact{
  width: 100%;
}

.form-input-direct{
  padding: 10px;
  border: 1px solid #fff;
  width: 100%;
  outline: none;
}

.form-detail-direct{
  resize: none;
  border: 1px solid #fff;
  height: 220px;
  padding: 10px;
  width: 100%;
  outline: none;
}

.btn-submit-contact{
  color: #c39a3b;
  border: 2px solid #c39a3b;
  border-radius: 0px;
  width: 120px;
  transition: 0.5s;
  font-weight: bold;
}

.btn-submit-contact:hover{ 
  color: #fff;
  background-color: #c39a3b;
}

 









/* ------------------------
      Footer
------------------------ */


.wrap-footer{
  width: 100%;
  height: auto; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  padding: 10px;
}


.wrap-entertrim-footer{
  width: 100%; 
  display: flex;
  justify-content:center;
  align-items:center;
}

.wrap-entertrim-footer img{
  width: 100px;
  height: 100px;
}





.wrap-menu-footer{  
  width:100%;
  height: 50px; 
  margin-top: 10px;
}

.wrap-menu-footer ul{
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items:center;
}

.wrap-menu-footer ul li{
  display: inline;  
  margin-top: 10px;
  list-style: none;
}

.wrap-menu-footer ul li span{
  color: #fff;
  transition: all 0.3s;
  padding: 10px;
  cursor: pointer;
}

.wrap-menu-footer ul li a{
  color: #fff;
  transition: all 0.3s;
  padding: 10px;
}

.wrap-menu-footer ul li a:hover{
  color: #c39a3b;
}

.wrap-menu-footer ul li span:hover{
  color: #c39a3b;
}

.wrap-copyright-footer{
  margin-top: 20px;
  width: 100%;
}

.wrap-copyright-footer p{
  color: #fff;
  text-align: center;
}







.wrap-social-footer{
  margin-top: 40px;
  width: 100%; 
}

.wrap-social-footer ul{
  padding: 0px;
  display: flex;
  justify-content:center;
  align-items: center;
}

.wrap-social-footer ul li{
  list-style: none; 
  display: inline;  
}

.wrap-social-footer ul li a{
  padding: 20px;
}

.fa-ig-footer:hover{
  color: #833AB4;
}

.fa-fb-footer:hover{
  color: blue;
}

.fa-twitter-footer:hover{
  color: #1DA1F2;
}

.fa-youtube-footer:hover{
  color: red;
}










/* ------------------------
     Jumbotron Content
------------------------ */

.jumbotron-content{
  height: 300px;  
  margin-top: 75px;
  color: #fff; 
}

.wrapper-jumbotron-content{
  text-align: center;
}

.title-jumbotron-content{
  font-weight: 800; 
  background: linear-gradient(to right, #FFF 20%, #C0C0C0 40%, #C0C0C0 60%, #FFF 80%);
  background-size: 200% auto; 
  color: #fff;
  font-size: 60px;
  background-clip: text; 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  margin-top: 25px;
  animation: shine 6s linear infinite;
}

.line-jumbotron-content{
  display: block;
  height: 2px;
  width: 120px;
  background-color: #fff;
}









/* ------------------------
     about
------------------------ */

.wrapper-about{
  width: 100%; 
}

.content-about-description{
  padding: 10px;
  width: 100%;
  height: 100%; 
  display:flex; 
  justify-content: flex-start;
  align-items: center;  
}

.left-line-about{
  width: 50px;
  height: 280px;
  background-color: #000;
}
 

.content-about-description p{
  margin-top: 10px;
  font-size: 15px;
}

.content-image-about{
  display:flex; 
  justify-content: center;
  align-items:center; 
}

.content-image-about img{
  width: 80%;
}

.btn-gold-about{
  width: 150px;
  height: 40px;
  color: #c39a3b;
  border: 2px solid #c39a3b;
  border-radius: 0px;
  transition: all 0.3s;
}

.btn-gold-about:hover{
  color: #fff;
  background-color: #c39a3b;
}






.about-mission{
  margin-top: 80px;
}

.wrap-vision-content{
  width: 90%;
  height: 350px;
  background-color: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
   padding: 20px;
  border-radius: 10px;
}

.wrap-vision-content img{
  width: 100px;
  height: 100px;
}

.wrap-vision-content h3{
  text-align: center;
  color: #fff;
  margin-top: 20px;
}

.wrap-vision-content p{
  text-align: center;
  color: #fff;
}



.wrap-mission-content{
  width: 90%;
  height: 350px;
  background-color: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  border-radius: 10px;
  padding: 10px;
}

.wrap-mission-content img{
  width: 100px;
  height: 100px;
}

.wrap-mission-content h3{
  text-align: center;
  color: #fff;
  margin-top: 20px;
}

.wrap-mission-content p{
  text-align: center;
  color: #fff;
}


















/* ------------------------
     Contact
------------------------ */

.wrap-phone-contact{
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:  center;
  background-color: #000;
  border-radius: 10px;
}

.wrap-phone-contact img{
  width: 100px;
  height: 100px;
}

.wrap-phone-contact h3{
  color: #fff;
  margin-top: 20px;
}

.wrap-phone-contact p{
  margin-top: 10px;
  color: #fff;
  text-align: center;
}







.wrap-email-contact{
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:  center;
  background-color: #000;
  border-radius: 10px;
}

.wrap-email-contact img{
  width: 100px;
  height: 100px;
}

.wrap-email-contact h3{
  color: #fff;
  margin-top: 20px;
}

.wrap-email-contact p{
  margin-top: 10px;
  color: #fff;
  text-align: center;
}










.wrap-contact-content{
  padding: 10px;
  color: #fff;
  text-align: center;
  overflow: hidden;
}

.btn-contact-content{
  width: 200px;
  height: 40px;
  background-color: transparent;
  border: 3px solid #c39a3b;
  border-radius: 0px;
  color: #fff;
  font-weight: bold;
  transition: all 0.3s;
}

.btn-contact-content:hover{
  font-weight: bold;
  background-color: #c39a3b;
  color: #fff;
}














.wrap-social-family{
  width: 90%;
  height: 350px;
  background-color: #000;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.wrap-social-family h3{
  color: #fff;
  margin-top: 20px;
  text-transform: uppercase;
}

.wrap-social-family p{
  color: #fff;
  text-align: center;
}




.wrap-about-social{
  width: 100%;
  height: auto;
  border-radius: 10px;
  color: #fff;
  text-align: center; 
  padding: 10px;
}

.social-ig:hover > .icon-about-social-ig{
  color: #833AB4;
}

.social-yt:hover > .icon-about-social-yt{
  color: red;
}

.social-tw:hover > .icon-about-social-tw{
  color: #1DA1F2;
}

.social-fb:hover > .icon-about-social-fb{
  color: blue;
}


 
.btn-social-content{
  width: 200px;
  height: 40px;
  background-color: transparent;
  border: 3px solid #c39a3b;
  border-radius: 0px;
  color: #fff;
  font-weight: bold;
  transition: all 0.3s;
}

.btn-social-content:hover{
  font-weight: bold;
  background-color: #c39a3b;
  color: #fff;
}
 






 .wrap-contact-modal{
   padding: 10px;
 }

 .title-modal-contact{
   font-weight: 600;
 }

 .wrap-btn-contact{
   margin-bottom: 10px;
 }

 .wrap-btn-contact .btn-contact-modal{
   width: 100%;
   height: 100px;
   background-color: #000;
 }









 .wrap-lang-modal{
   padding: 10px;
 }

 .title-modal-lang{
   font-weight: 600;
 }

 .wrap-btn-lang{
   display: flex;
   justify-content: center;
   align-items: center;
 }

 .wrap-btn-lang .btn-lang-modal{
   width: 100%;
   height: 100px;
   background-color: #000;
 }



 .img-lang{
   cursor: pointer;
   width: 90px;
   height: 90px;
   display: block;
 }










 .wrap-not-found{
   margin-top: 75px;
   height: calc(100vh - 75px);
   width: 100%;
   background-color: #000;
   color: #fff;
 }
 

 .border-404{
   height: 2px;
   width: 300px;
   background-color: #fff;
   margin: 10px;
 }

 .btn-not-found{
   width: 130px;
 }
 
 














.text-animate-large{
  display: none;
  width: 950px;
  margin-top: 120px;
  height: 90px; 
}

.text-animate-large svg {
  width: 100%; 
  height: 100%;
  margin: 1px auto;
}
.text-animate-large svg text {
  text-transform: uppercase;
  animation: stroke 3s alternate;
  stroke: #fff;
  fill: #fff;
  font-size: 350px;
  stroke-width: 2;
  font-weight: 800;
}















@media(min-width: 1400px) {
   .container-fluid{
     width: 75%;
   }

   .wrapper-header{
     width: 100%;
     height: 76px;
     background-color:#000;
     position: fixed;
     top: 0px;
     z-index: 1;
   }

   .navbar{
     width: 80%;
   }

   .jumbotron-index{
     height: 600px;
   }

   .text-animate{
     display: none; 
   }

   .text-animate-large{
     display: block;
    margin-top: 190px;
   }

   .text-desc-jumbotron{
     font-size: 20px;
   }



  .wrap-email-contact{
    width: 500px;
  }

  .wrap-phone-contact{
    width: 500px;
  }


  .wrap-social-family{
    width: 500px;
  }



  .jumbotron-content{
    height: 400px;
  }

  .title-jumbotron-content{
    margin-top: 100px;
  }
  

 }




@media(max-width: 1010px){
  .list-choose-service{
    height: 550px;
  }
}


@media(max-width: 1000px){

.wrapper-help{
  margin-bottom: 0px;
}
 
  .list-choose-service{
    margin-bottom: 60px;
  } 

  /* .list-choose-clients{
    margin-bottom: 70px;
  }  */

  .text-title-explain{
    width: 100%;
    font-weight: 600;
  }

  .contact-detail{
    margin-top: 45px;
  }
 

  .contact-desc{
    font-size: 13px;
  }
  .detail-contact{
    font-size: 13px;
  }
}


@media(max-width: 767px){
  
  .mt-mobile{
    margin-top: 10px;
  }
  .text-title-jumbotron{
    font-size: 45px;
  }

  .text-desc-jumbotron{
    font-size: 14px;
    width: 80%;
  }

  


  .wrapper-help{
    width: 100%; 
  }

  .wrapper-choose{
    width: 100%; 
  } 

  .content-contact{
    margin-bottom: 20px;
  }
  

  .list-choose-service{
    margin-bottom: 30px;
  } 
 


  .line-clients{
    width: 50%;
  }






  .navbar-collapse { 
    height: 0vh !important;
    min-height: 0vh !important;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    transition: height 0.5s;
  } 


  .navbar-collapse.active { 
    height: 100vh !important;
    min-height: 100vh !important; 
  } 

  .navbar-nav{
    width: 100%;
    height: 420px;
  }

  .nav-link{
    font-size: 30px;
  }
			
  .navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse {max-height: none!important;}

  .collapsing {
       -webkit-transition: none;
       transition: none;
  }






  .title-jumbotron-content{
    font-size: 45px;
    width: 95%;
  }


  
  .content-image-how{
    margin-top: 40px;
  }





  .wrapper-choose{
    margin: 80px auto;
    margin-bottom: 0px;
  }
 
  .text-title-explain{
    font-size: 20px;
  }


  .list-choose-service{
    height: 480px;
  }
  
  .content-contact{
    width: 100%;
    height: auto;
  }

  .content-direct-contact{
    width: 100%;
    height: 420px;
  }

  .form-detail-direct{
    height: 150px;
  }

  .content-contact img{
    width: 100%; 
  }














  .wrap-footer{ 
    height: auto;  
  } 

  .wrap-entertrim-footer{ 
    margin-top: 10px;
  } 
  .wrap-menu-footer{ 
    width:100%;
    height: auto; 
    margin-top: 20px;
  }

  .wrap-menu-footer ul{
    padding: 0px;
    display: block; 
  }

  .wrap-menu-footer ul li{
    display: block;  
    margin-top: 10px;
    text-align: center;
  }





  .wrap-img-top-about{
    height: 400px;
    background-color: red;
  }

  .wrap-img-top-about img{
    width: 100%;
  }

  .wrap-desc-top{
    height: 250px; 
    margin-bottom: 30px;
  }

  .right-desc-p{
    font-size: 14.5px;
  }




  .wrapper-about{
    margin-top: 50px;
  }
  .content-image-about{
    margin-top: 20px;
  }

  .content-image-about img{
    width: 100%;
  }






  .wrap-vision-content{
    margin-bottom: 20px;
  }



  .wrap-phone-contact{
    margin-bottom: 30px;
  }

  .wrap-social-family{
    width: 100%;
  }

  .wrap-vision-content{
    width: 100%;
  }
  
  .wrap-mission-content{
    width: 100%;
  }
 
  
}
 



@media(max-width: 475px){
  .text-animate{
    display: none;
  }

  .text-animate-mobile{
    display: block;
  }

  .right-content-how h3{
    font-size: 25px;
  }

  .right-content-how p{
    font-size: 14px;
  }
}

 


 
@keyframes stroke {
  0%   {
    fill: rgba(255, 255, 255, 0); 
    stroke: rgba(255, 255, 255,0.3);
    stroke-dashoffset: 25%; 
    stroke-dasharray: 0 50%; 
    stroke-width: 2;
  }
  70%  {
    fill: rgba(255, 255, 255, 0); 
    stroke: rgba(255, 255, 255,1);
  }
  80%  {
    fill: rgba(255, 255, 255, 0); 
    stroke: rgba(255, 255, 255,1); 
    stroke-width: 2; 
  }
  100% {
    fill: rgba(255, 255, 255, 1); 
    stroke: rgba(255, 255, 255,1); 
    stroke-dashoffset: 25%; 
    stroke-dasharray: 50% 0; 
    stroke-width: 2;
  }
}

 
@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

@keyframes shine {
  to {
    background-position: 200% center;
  }
}